<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>lyz | 404</title>
</head>

<body id="home" class="m-sticky-site">
<div class="ui inverted masthead centered segment">
    <div class="ui page grid">
        <div class="column">
            <!-- Nav bar-->
            <nav th:replace="_fragments :: menu(0)" ></nav>

            <!-- space -->
            <div class="m-padded-tb-small"></div>
            <!--error-->
            <h2 class="ui center aligned header">404</h2>
            <br>
            <h3 class="ui center aligned header">Oops the page is gone...sorry...</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!--divider-->
            <div class="m-padded-tb-small"></div>
        </div>

    </div>
</div>


<!-- Footer -->
<main class="m-sticky-site-content"></main>
<footer th:replace="_fragments :: footer"></footer>
<!-- JavaScript -->
<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>